.Mui-active {
    background-color: #4845D2
}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 16px;
    height: 32px;
    border: 1px;
}

.css-nwsdb5-MuiFormLabel-root {
    font: 'Inter';
    font-size: 16px;
}